@import "../mixins", "../vars", "../functions";


.button {
  @include font-futura-pt;
  @include font-size(18px, 23px);
  @include flex-center-center;
  cursor: pointer;
  width: $InputWidthXLg;
  min-width: 300px;
  height: $InputHeightXLg;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 12px;

  @media (max-width: $SizeDesktopLg - 1px) {
    width: calc-size-desktop-desktop-lg($InputWidthLgN, $InputWidthXLgN);
    height: calc-size-desktop-desktop-lg($InputHeightLgN, $InputHeightXLgN);
  }

  @media (max-width: $SizeDesktop) {
    width: $InputWidthLg;
    height: $InputHeightLg;
  }

  @media (max-width: 768px) {
    width: $InputWidthMd;
    height: $InputHeightMd;
  }

  @media (max-width: $SizeTablet - 1px) {
    width: $InputWidthSm;
    height: $InputHeightSm;
  }

  &_gold {
    color: $Brand;
    background: $Background;
    border: 1px solid $Brand;
  }

  &_fill-gold {
    color: $Background;
    background: $Brand;
  }
}
