@import "../mixins", "../vars", "../functions";


.button {
  @include font-futura-pt();
  @include font-size(18px, 23px);
  @include flex-center-center;
  cursor: pointer;
  width: $InputWidthXLg;
  min-width: 300px;
  height: $InputHeightXLg;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 12px;


  @media (max-width: $SizeDesktopLg - 1px) {
    width: calc-size-desktop-desktop-lg($InputWidthLgN, $InputWidthXLgN);
    height: calc-size-desktop-desktop-lg($InputHeightLgN, $InputHeightXLgN);
  }

  @media (max-width: $SizeDesktop - 1px) {
    width: $InputWidthMd;
    height: $InputHeightMd;
  }

  @media (max-width: $SizeTablet) {
    width: calc-size-phone-tablet($InputWidthSmN, $InputWidthMdN);
    height: calc-size-phone-tablet($InputHeightSmN, $InputHeightMdN);
  }

  @media (max-width: $SizePhone) {
    width: $InputWidthSm;
    height: $InputHeightSm;
  }


  &_gold {
    color: $Brand;
    background: $Background;
    border: 1px solid $Brand;
  }


  &_fill-gold {
    color: $Background;
    background: $Brand;
    margin-left: 40px;
  }
}
